doctype html

head
  meta(charset='utf-8')
  title #{meta.title}
  meta(name='description' content=meta.description)
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/style.css')
  script(src='js/vendor.js', defer)
  script(src='js/main.js', defer)

body.text-white
  main.min-h-screen

    section#splash.flex.flex-col.items-center.justify-center
        svg.logo.-mt-32
        h1.text-5xl.font-bold.text-yellow-500
          a(href='#splash') LitTl31

    section#intro.p-8.flex.items-center.justify-center
      .max-w-screen-lg.w-full
        h2.text-7xl.font-bold.text-yellow-500
          a(href='#intro') #{intro.title}
        .w-full.mt-32.flex.justify-end
          div.max-w-xl.space-y-8
            for line in intro.lines
              p #{line}

    section#projects
      include pug/project-x.pug
      include pug/project-y.pug
      include pug/project-3.pug

    footer.container.mx-auto.mt-32.py-8.px-4.text-white
      .max-w-screen-lg.mx-auto.flex.flex-col
        .flex.items-center.w-full
          div(class='w-1/3')
          div(class='w-1/3')
            img.mx-auto.w-24(src='assets/images/logo.svg')
          div.text-right(class='w-1/3')
            a.text-5xl.font-bold.text-yellow-500 Contact
        p.text-center.text-sm.mt-16.px-8.
          #{footer.text}
